/* photo animation  */
#photoanimation {
  //display: none;

  &::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    border: 4px var(--orange) dashed;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 2.5px);
    left: 0;
    width: 0%;
    height: 5px;
    background-color: var(--orange);
    animation: close 1s ease 10.5s forwards;
  }
}

@keyframes close {
  0% {
    width: 0%;
    height: 5px;
    top: calc(50% - 2.5px);
  }
  50% {
    width: 100%;
    height: 5px;
    top: calc(50% - 2.5px);
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0;
  }
}

.photo {
  width: 100%;
  height: 100%;

  img {
    position: fixed;
    border: 3px #fff solid;
    border-radius: 8px;
    max-width: 50vmax;
    max-height: 50vmax;
    box-shadow: 5px 5px 5px #3336;
    opacity: 0;

    &:nth-child(1) {
      top: 10%;
      left: 14%;
      transform: rotate(5deg);
      animation: clipon 1s 4s linear forwards ;
    }

    &:nth-child(2) {
      top: 7%;
      left: 50%;
      transform: rotate(-8deg);
      animation: clipon 1s 5s linear forwards;
    }

    &:nth-child(3) {
      top: 45%;
      left: 12%;
      transform: rotate(21deg);
      animation: clipon 1s 6s linear forwards;
    }

    &:nth-child(4) {
      bottom: 5%;
      right: 6.5%;
      transform: rotate(-9deg);
      animation: clipon 1s 7s linear forwards;
    }

    &:nth-child(5) {
      bottom: 6%;
      left: 1%;
      transform: rotate(-25deg);
      animation: clipon 1s 8s linear forwards;
    }

    &:nth-child(6) {
      top: 32%;
      right: 22%;
      transform: rotate(-5deg);
      animation: clipon 1s 9s linear forwards;
    }
  }
}


@keyframes clipon {
    0% { opacity: 0; }
  100% { opacity: 1; }
}
